body{
    background-color: #525252;
    color: white;
}
.gameField{
    border: 2px solid #ca3e47;
    height: 500px;
    position: relative;
    background-color: #414141;
}
.gameInfo{
    border: 2px dotted #ca3e47;
    height: 500px;
    background-color: #414141;
}
.word{
    color: white;
    position: absolute;
}
input{
    background-color: #313131;
    border: #313131;
    color: white;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}